<ul>
 <li>id: <%= @enquiry.id%></li>
 <li>name: <%= @enquiry.name%></li>
 <li>company: <%= @enquiry.company%></li>
 <li>email: <%= @enquiry.email%></li>
 <li>phone: <%= @enquiry.phone%></li>
 <li>text: <%= @enquiry.text%></li>
</ul>
