<% content_for :title, @post.title %>

<section id="contentwrap">
<div id="contents" class="normalcontents">
    <section id="normalpage">
    <section id="left">
    <h2><%= @post.title %></h2>
    <section class="blogpreview">

        <article class="postpreview">
        <section class="entry">
        <p>
            <%= raw @post.text %>
        </p>
        </section>
        <aside class="postinfo">
        <p>
            <time><%=@post.created_at.strftime("%a, %d %b %Y")%></time>
            <span><%= @post.category%></span>
            <span>by <%= @post.author%></span>
        </p>
        </aside>
        <div class="clear">
        </div>
        </article>
      <%= disqus_code %>
    </section>
    </section>
    <section id="sidebar">
        <%= render "side_testimonials" %>
        <%= render "side_posts", :posts => @side_posts %>
        <%= render "side_projects", :projects => @side_projects %>
    </section>
    <div class="clear">
    </div>
    </section>
</div>
</section>
