<!doctype html>
<html lang="en-US">
<head>
<meta charset="UTF-8"/>
<title>DarkRuby | <%=h yield(:title) %></title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :all %>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if IE 6]>
<script src="js/belatedPNG.js"></script>
<script>
    DD_belatedPNG.fix('*');
</script>
<![endif]-->
</head>
<body <%= @menu_item != :home ? "class='normalpage'" : nil %>>
<section id="page">
<div id="bodywrap">
    <section id="top">
    <nav>
    <h1 id="sitename">
    <%= link_to "DarkRuby Websites", :home %></h1>
    <ul id="sitenav">
    <%
        [:home, :services, :portfolio, :blog, :contact].each { |item| %>
          <%= content_tag(:li, link_to("#{item[0].upcase}#{item.to_s[1..-1]}", item), item == @menu_item ? {:class => :current} : nil)%>
        <%}
    %>
    </ul>
    </nav>

<%= yield %>

    <footer id="pagefooter">
    <div id="bottom">
        <div class="block1">
            <h2>Social</h2>
            <p>
                <ul>
                    <li style='float: left;'><a href='http://facebook.com/darkruby'><img src='/images/facebook.png'/></a></li>
                    <li><a href='http://twitter.com/darkruby'><img src='/images/twitter.png'/></a></li>
                </ul>
            </p>
        </div>
        <div class="block2">
            <h2>Latest Project</h2>
            <div class="projectthmb"> <%= link_to(image_tag(@side_projects.last.image.url('thumb')), {:action=>:portfolio}) %></a></div>
        </div>
        <div class="block3">
            <h2>Contact</h2>
            <p>
                <strong>DarkRuby Sales:</strong><br/>
                sales(at)darkruby.co.uk<br/>
                <strong>DarkRuby Website:</strong><br/>
                admin(at)darkruby.co.uk
            </p>
        </div>
        <div class="clear">
        </div>
    </div>
    <div id="credits">
        <p>
            <span class="copyright">
            &copy; 2011 | DarkRuby.co.uk | All Rights Reserved </span>
            <span id="designcredit">
            <!--Creative Common Non-Commercial, Attribution License
                Designed by : Roshan Ravi
                Author URI : cssheaven.org
                Do Not Remove this Credits and Link back to CSSHeaven from the template-->
            Copywriting by
            <a href="http://anekalee.com/" title="">Aneka Lee</a>
            <!--Design Credits-->
             </span>
        </p>
    </div>
    </footer>
    </section>
    <% flash.each { |type,text| %>
      <div class="flash_notice <%= type%>"><%= text %></div>
    <% } %>
    <%= google_analytics %>
</body>
</html>
