<!DOCTYPE html>
<html>
<head>
  <title>DarkRuby Admin</title>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'%>
</head>
<style>
 body {background:#456789;color:white;font-family:verdana;font-size:12px;}
 input {border:none;}
 a {color:#abcdef;text-decoration:none;}
</style>
<body>
  <div class='notice'><%=flash[:notice]%></div>
  <div class='header'>
    DarkRuby :: 
    <%= link_to "[login]", :controller=>:manage,:action=>:login%> |
    <%= link_to "[logout]", :controller=>:manage,:action=>:logout%> 
  </div>
  <div class='menu'>
    <%= link_to "Projects",  :controller=>:manage,:action=>:projects %> |
    <%= link_to "Posts",     :controller=>:manage,:action=>:posts %> |
    <%= link_to "Enquiries", :controller=>:manage,:action=>:enquiries %> 
  </div>
<%= yield %>

</body>
<script>
  $(function() {
    setTimeout(function() {
      $('.notice').fadeOut();
    }, 2000);
  });
</script>
</html>
